@inherits LayoutComponentBase

<Navbar/>

<main>
    @Body
</main>


@code{
    protected override async Task OnInitializedAsync()
    {
        Shared.SharedClass.CreateFakeProductList();
    }

    
}