@inherits LayoutComponentBase

<Navbar/>

<div class="side-background d-flex flex-column">
    <main role="main" class="container p-0 flex-grow-1">
        <div class="body shadow">
        @Body
        </div>
    </main>
        
    <Footer />
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        //Lägg till i Configuration i Web appen sen.
        Environment.SetEnvironmentVariable("Admins", "b5cf3d05-3efa-4c52-8013-17afe4411c86;");
        TeamKville.Shared.SharedClass.allProducts = await HttpClient.GetFromJsonAsync<List<ProductDto>>(HttpClient.BaseAddress + "api/product");
    }
}

<style>

    main {
        font-family: 'Montserrat', sans-serif;
    }

    .side-background {
        min-height: 100vh;
        background-color: lightgray;
    }

    .body{
        background-color: white;
    }

</style>