@*@page "/proposenewevent"*@
@using Microsoft.AspNetCore.Components.Forms
@using TeamKville.Shared;
@inject IToastService ToastService;

@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="NewEmail" OnValidSubmit="SendProposal">
	<div class="mb-3">
		<label for="name" class="form-label">Namn på event/lan</label>
		<InputText required class="form-control" id="name" @bind-Value="NewEmail.Header" />
	</div>
	
	<div class="mb-3">
		<label for="name" class="form-label">Beskriv tema på eventet.</label>
		<InputText required class="form-control" id="Body" @bind-Value="NewEmail.Body" />
	</div>
	
	<div class="mb-3">
		<label for="name" class="form-label">Skriv in email.</label>
		<InputText required class="form-control" id="Email" @bind-Value="NewEmail.Email" />
	</div>
	
	<button class="btn btn-primary" type="submit">Skicka</button>
</EditForm>


@code {

	[Parameter] 
	public EmailDto NewEmail { get; set; }

	private async Task SendProposal()
	{
		NewEmail.TimeSent = DateTime.UtcNow;

		var result = await HttpClient.PostAsJsonAsync<EmailDto>(HttpClient.BaseAddress + "api/email", NewEmail);

		if (result.StatusCode == System.Net.HttpStatusCode.OK)
		{

			ToastService.ShowSuccess("Meddelande skickat!");
		}
		else
		{
			ToastService.ShowError("Något gick fel...");
		}
	}

}