@using TeamKville.Shared;
@using TeamKville.Shared.Dto;



@if(reviews.Count > 0)
{
	foreach (var review in reviews)
	{
		<div class="card m-1 d-flex">
			<div class="card-body">
				<div class="card-title m-0">
					<h5>@review.Name</h5>
					<div class="stars ms-auto">
						@for (int r = 1; r <= 5; r++)
						{
							if (r <= review.Rating)
							{
								<i class="fa fa-star" style="color: #ffa500;"></i>
							}
							else
							{
								<i class="fa fa-star" style="color: #6c757d;"></i>
							}
						}
					</div>
					<div class="card-text">
						@review.Text
					</div>
				</div>
				<em>@review.Date.ToString("yyyy-MM-dd")</em>
			</div>
		</div>
	}
}

@code {

	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter] 
	public List<CommentDto> reviews { get; set; }

	

	private async Task Close() => await BlazoredModal.CloseAsync();


}
