
<div class="container">
	<h3 class="mb-4">Skapa event/lan</h3>

	<EditForm>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Namn på event/lan</label>
			<input type="text" class="form-control" id="exampleFormControlInput1">
		</div>
		
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Beskrivning</label>
			<input type="text" class="form-control" id="exampleFormControlInput1">
		</div>
		
		<div class="mb-3">
			<label for="formFile" class="form-label">Bild</label>
			<input class="form-control" type="file" id="formFile">
		</div>
		
		<div class="mb-3">
			<label for="formFile" class="form-label">Datum</label>
			<input class="form-control" type="date" id="formFile">
		</div>

	</EditForm>
</div>





@code {

}
